extends layout
block nav
  div.nav
    ul
      li
        a.curr(href='/manager/add') 添加文章
      li
        a(href='/manager/list') 文章列表
      li
        a(href='/manager/signout') 登出
block content
  div.content
    form.update-post(action='/manager/add',method='post')
      div.u_title
        input(type='text',name='u_title',placeholder='标题')
      div.u_tag
        input(type='text',name='u_tag',placeholder='标签')

      div.u_content
        textarea(rows='10',cols='40',name='u_content')

      button.submit(type='submit') 提交
